[Unit]
Description=corteza service
Requires=letsencrypt-nginx.service
After=letsencrypt-nginx.service

[Service]
Type=oneshot
RemainAfterExit=true
WorkingDirectory=/opt/corteza
ExecStart=/usr/bin/docker-compose up -d --remove-orphans
ExecStop=/usr/bin/docker-compose down

[Install]
WantedBy=multi-user.target